<header>
  <h1>ToDo </h1>

  
</header>

<main class="main">
  <div class="main__controls">
    <button (click)="addGroup()" class="button">Добавить группу</button>
  </div>

  <app-todo-group
    [index]="i"
    [todoGroup]="group"
    (changeTitleEvent)="handleChangeTitle($event)"
    (deleteGroup)="handleDeleteGroup($event)"
    (addNewItem)="handleNewItem($event)"
    (changeDescription)="handleChangeDescription($event)"
    (changeItemStatus)="handleChangeStatus($event)"
    (deleteItem)="handleDeleteItem($event)"
    *ngFor="let group of todoGroups; let i = index"
  ></app-todo-group>
</main>
